node-red/finalProject.json
[{"id":"53a25413.a11e0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d7fc8ccb.476bf","type":"tcp in","z":"53a25413.a11e0c","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":240,"wires":[["6186c800.f0a098"]]},{"id":"be504b51.afc808","type":"debug","z":"53a25413.a11e0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1370,"y":700,"wires":[]},{"id":"2876da84.8bdce6","type":"tcp in","z":"53a25413.a11e0c","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":320,"wires":[["36a5f3bb.e87ccc"]]},{"id":"ca5756b9.18c188","type":"tcp in","z":"53a25413.a11e0c","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":400,"wires":[["fa0fe55a.5fdb08"]]},{"id":"eb033412.5a8ed8","type":"tcp in","z":"53a25413.a11e0c","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":480,"wires":[["8db34a82.a4c0c8"]]},{"id":"8aacdf58.66adf","type":"tcp in","z":"53a25413.a11e0c","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":540,"wires":[["de6fbb53.c7ef28"]]},{"id":"6186c800.f0a098","type":"function","z":"53a25413.a11e0c","name":"CompleteIncomingMessage","func":"msg.user_id = 1;\nmsg.port=60001;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["51bd7805.718298","883aa55c.e5bda8"]]},{"id":"36a5f3bb.e87ccc","type":"function","z":"53a25413.a11e0c","name":"CompleteIncomingMessage","func":"msg.user_id = 2;\nmsg.port=60002;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["51bd7805.718298","883aa55c.e5bda8"]]},{"id":"fa0fe55a.5fdb08","type":"function","z":"53a25413.a11e0c","name":"CompleteIncomingMessage","func":"msg.user_id = 3;\nmsg.port=60003;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["51bd7805.718298","883aa55c.e5bda8"]]},{"id":"8db34a82.a4c0c8","type":"function","z":"53a25413.a11e0c","name":"CompleteIncomingMessage","func":"msg.user_id = 4;\nmsg.port=60004;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["51bd7805.718298","883aa55c.e5bda8"]]},{"id":"de6fbb53.c7ef28","type":"function","z":"53a25413.a11e0c","name":"CompleteIncomingMessage","func":"msg.user_id = 5;\nmsg.port=60005;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":540,"wires":[["51bd7805.718298","883aa55c.e5bda8"]]},{"id":"51bd7805.718298","type":"function","z":"53a25413.a11e0c","name":"extractTrueMessage","func":"//the true message has a d before the true paylod\n\nif(msg.payload.indexOf('d')!=-1){\n    \n    //extract the true message\n    msg.payload = msg.payload.substring(msg.payload.indexOf('d')+1);\n    return msg;\n    \n}else return null;\n\n","outputs":1,"noerr":0,"x":1020,"y":200,"wires":[["ae9dce42.eff8","84c8c01f.43ef8"]]},{"id":"ae9dce42.eff8","type":"function","z":"53a25413.a11e0c","name":"prepareMessageToSend","func":"var msg_parts = msg.payload.split(',');\nmsg.payload = 'You with the ID '+msg_parts[0]+' are close to user with ID '+msg_parts[1]+' Please keep your distance';\nmsg.event = 'distance_violation';\nmsg.user_one = msg_parts[0];\nmsg.user_two = msg_parts[1];\nmsg.payload = {\"value1\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":260,"wires":[["243625b7.09a26a","d0fd9db8.4effa","aa12b990.2b46b8"]]},{"id":"243625b7.09a26a","type":"switch","z":"53a25413.a11e0c","name":"DispatchMessage","property":"user_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":990,"y":340,"wires":[["d97d26a7.d392e8"],["38129d8b.7bad72"],["6fc7951d.e0f57c"],["259a36e5.7890ca"],["3967c94.945e136"]]},{"id":"d97d26a7.d392e8","type":"http request","z":"53a25413.a11e0c","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/distance_violation/with/key/nPpsSzDUBLyU7wleoCmukfPwgywPH5Bvjno5uvPdQ9R","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":240,"wires":[["20404ad.60e23b6"]]},{"id":"38129d8b.7bad72","type":"http request","z":"53a25413.a11e0c","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":340,"wires":[["20404ad.60e23b6"]]},{"id":"6fc7951d.e0f57c","type":"http request","z":"53a25413.a11e0c","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/distance_violation/with/key/cdImF3hcqH5_5MQxwpSgNo","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":400,"wires":[["20404ad.60e23b6"]]},{"id":"259a36e5.7890ca","type":"http request","z":"53a25413.a11e0c","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":460,"wires":[["20404ad.60e23b6"]]},{"id":"3967c94.945e136","type":"http request","z":"53a25413.a11e0c","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":520,"wires":[["20404ad.60e23b6"]]},{"id":"883aa55c.e5bda8","type":"function","z":"53a25413.a11e0c","name":"prepareLog","func":"var mess = msg._msgid+' : Message received from user with ID '+msg.user_id+' on port '+msg.port;\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":420,"wires":[["6ffc277a.9bb1f8"]]},{"id":"84c8c01f.43ef8","type":"function","z":"53a25413.a11e0c","name":"prepareLog","func":"var mess = msg._msgid+' : True Message from user with ID '+msg.user_id+' extracted successfuly. Message extracted: '+msg.payload;\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":680,"wires":[["6ffc277a.9bb1f8"]]},{"id":"d0fd9db8.4effa","type":"function","z":"53a25413.a11e0c","name":"prepareLog","func":"var mess = msg._msgid+' : Message to be send from user with ID '+msg.user_id+' is:\\n\\t\\t\\t\\t \"'+msg.payload.value1+'\"';\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":540,"wires":[["6ffc277a.9bb1f8"]]},{"id":"20404ad.60e23b6","type":"function","z":"53a25413.a11e0c","name":"prepareLog","func":"var mess = msg._msgid+' : Notification send to user '+msg.user_id+ 'mobile phone';\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":600,"wires":[["6ffc277a.9bb1f8"]]},{"id":"6ffc277a.9bb1f8","type":"file","z":"53a25413.a11e0c","name":"LOGFILE","filename":"/home/user/Desktop/log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1160,"y":720,"wires":[["be504b51.afc808"]]},{"id":"aa12b990.2b46b8","type":"function","z":"53a25413.a11e0c","name":"prepareLog","func":"var mess = msg._msgid+' : Distance violation mote '+msg.user_one+' is too close to mote '+msg.user_two;\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":620,"wires":[["6ffc277a.9bb1f8"]]}]