node-red/finalProject.json
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"518afb0c.fd6614","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":240,"wires":[["9e20fb52.1b1f4"]]},{"id":"7cf022d0.d33cf4","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1370,"y":700,"wires":[]},{"id":"6e0f6f88.1a3fc8","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":320,"wires":[["8d413097.6efe28"]]},{"id":"3c798434.af6564","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":400,"wires":[["d1af08f1.d8ea58"]]},{"id":"6859f7f6.d55078","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":480,"wires":[["2bb2f391.84a15c"]]},{"id":"1070a306.473e65","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":540,"wires":[["7162d3a3.4b9094"]]},{"id":"9e20fb52.1b1f4","type":"function","z":"b5d1af96.0416f8","name":"CompleteIncomingMessage","func":"msg.user_id = 1;\nmsg.port=60001;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["46c63a34.df12e4","392cd13.9a824ae"]]},{"id":"8d413097.6efe28","type":"function","z":"b5d1af96.0416f8","name":"CompleteIncomingMessage","func":"msg.user_id = 2;\nmsg.port=60002;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["46c63a34.df12e4","392cd13.9a824ae"]]},{"id":"d1af08f1.d8ea58","type":"function","z":"b5d1af96.0416f8","name":"CompleteIncomingMessage","func":"msg.user_id = 3;\nmsg.port=60003;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["46c63a34.df12e4","392cd13.9a824ae"]]},{"id":"2bb2f391.84a15c","type":"function","z":"b5d1af96.0416f8","name":"CompleteIncomingMessage","func":"msg.user_id = 4;\nmsg.port=60004;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["46c63a34.df12e4","392cd13.9a824ae"]]},{"id":"7162d3a3.4b9094","type":"function","z":"b5d1af96.0416f8","name":"CompleteIncomingMessage","func":"msg.user_id = 5;\nmsg.port=60005;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":540,"wires":[["46c63a34.df12e4","392cd13.9a824ae"]]},{"id":"46c63a34.df12e4","type":"function","z":"b5d1af96.0416f8","name":"extractTrueMessage","func":"//the true message has a d before the true paylod\n\nif(msg.payload.indexOf('d')!=-1){\n    \n    //extract the true message\n    msg.payload = msg.payload.substring(msg.payload.indexOf('d')+1);\n    return msg;\n    \n}else return null;\n\n","outputs":1,"noerr":0,"x":1020,"y":200,"wires":[["8abfa817.be403","a6e601f6.22b9b8"]]},{"id":"8abfa817.be403","type":"function","z":"b5d1af96.0416f8","name":"prepareMessageToSend","func":"var msg_parts = msg.payload.split(',');\nmsg.payload = 'You with the ID '+msg_parts[0]+' are close to user with ID '+msg_parts[1]+' Please keep your distance';\nmsg.event = 'distance_violation';\nmsg.user_one = msg_parts[0];\nmsg.user_two = msg_parts[1];\nmsg.payload = {\"value1\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":260,"wires":[["bb0500c4.522928","f4edf037.22d85","fe1490f3.7ceb08"]]},{"id":"bb0500c4.522928","type":"switch","z":"b5d1af96.0416f8","name":"DispatchMessage","property":"user_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":990,"y":340,"wires":[["4ce38f6.a7bc1f"],["1b7987ae.c7c63"],["717a2a74.d6ee0c"],["2aa70c39.6510c4"],["f4b23388.8abc78"]]},{"id":"4ce38f6.a7bc1f","type":"http request","z":"b5d1af96.0416f8","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/distance_violation/with/key/cdImF3hcqH5_5MQxwpSgNo","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":240,"wires":[["3673415b.3fb5fe"]]},{"id":"1b7987ae.c7c63","type":"http request","z":"b5d1af96.0416f8","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/distance_violation/with/key/cdImF3hcqH5_5MQxwpSgNo","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":340,"wires":[["3673415b.3fb5fe"]]},{"id":"717a2a74.d6ee0c","type":"http request","z":"b5d1af96.0416f8","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/distance_violation/with/key/cdImF3hcqH5_5MQxwpSgNo","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":400,"wires":[["3673415b.3fb5fe"]]},{"id":"2aa70c39.6510c4","type":"http request","z":"b5d1af96.0416f8","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/distance_violation/with/key/cdImF3hcqH5_5MQxwpSgNo","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":460,"wires":[["3673415b.3fb5fe"]]},{"id":"f4b23388.8abc78","type":"http request","z":"b5d1af96.0416f8","name":"SendNotification","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/distance_violation/with/key/cdImF3hcqH5_5MQxwpSgNo","tls":"","persist":false,"proxy":"","authType":"","x":1300,"y":520,"wires":[["3673415b.3fb5fe"]]},{"id":"392cd13.9a824ae","type":"function","z":"b5d1af96.0416f8","name":"prepareLog","func":"var mess = msg._msgid+' : Message received from user with ID '+msg.user_id+' on port '+msg.port;\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":420,"wires":[["d1456a1e.4629b"]]},{"id":"a6e601f6.22b9b8","type":"function","z":"b5d1af96.0416f8","name":"prepareLog","func":"var mess = msg._msgid+' : True Message from user with ID '+msg.user_id+' extracted successfuly. Message extracted: '+msg.payload;\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":680,"wires":[["d1456a1e.4629b"]]},{"id":"f4edf037.22d85","type":"function","z":"b5d1af96.0416f8","name":"prepareLog","func":"var mess = msg._msgid+' : Message to be send from user with ID '+msg.user_id+' is:\\n\\t\\t\\t\\t \"'+msg.payload.value1+'\"';\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":540,"wires":[["d1456a1e.4629b"]]},{"id":"3673415b.3fb5fe","type":"function","z":"b5d1af96.0416f8","name":"prepareLog","func":"var mess = msg._msgid+' : Notification send to user '+msg.user_id+ 'mobile phone';\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":600,"wires":[["d1456a1e.4629b"]]},{"id":"d1456a1e.4629b","type":"file","z":"b5d1af96.0416f8","name":"LOGFILE","filename":"/home/user/Desktop/log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1160,"y":720,"wires":[["7cf022d0.d33cf4"]]},{"id":"fe1490f3.7ceb08","type":"function","z":"b5d1af96.0416f8","name":"prepareLog","func":"var mess = msg._msgid+' : Distance violation mote '+msg.user_one+' is too close to mote '+msg.user_two;\nmsg.payload = mess;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":620,"wires":[["d1456a1e.4629b"]]}]